<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edusoho">

    <application
        android:name="com.edusoho.kuozhi.v3.EdusohoApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/EdusohoAppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.edusoho.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

        <activity
            android:name="com.edusoho.kuozhi.KuozhiActivity"
            android:label="@string/app_name"
            android:theme="@style/kuozhiV2StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="mtaautotrack.95e58e2b8c3b22af06a470cdfac17cb3" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".kuozhi.KuozhiSplashActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5c0607ffb465f50c7300022d" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Official" />

        <meta-data
            android:name="TA_APPKEY"
            android:value="AXB4ID651YRC" />

        <meta-data
            android:name="InstallChannel"
            android:value="Official" />

        <meta-data
            android:name="Mob-AppKey"
            android:value="291996aa49a8b" />

        <meta-data
            android:name="Mob-AppSecret"
            android:value="2b39431c6212f03f5bbfa79b6d5f6a38" />

        <!--<provider-->
            <!--android:name="com.tencent.mid.api.MidProvider"-->
            <!--android:authorities="com.edusoho.kuozhi.TENCENT.MID.V3"-->
            <!--android:exported="true" />-->

    </application>

</manifest>
